# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & secrets
.env
.env.local
.env.*.local

# Logs
logs
*.log
pnpm-debug.log*
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build artifacts
dist/
coverage/
